.Nav {
    position: relative; /* This is important for absolute positioning of child elements */
}
  
.overlay-box {
    position: absolute;
    background-color: beige;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}